.filter-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  align-items: baseline;
}

.top-card {
  margin-bottom: 20px;
}

.margin-left-15 {
  margin-left: 15px;
}
